<% content_for :head do %>

.main_table {
  border: 0px;
  background-color: #FFFFFF;
  width: 900px;
  cell-padding: 3;
  cell-spacing: 3;
}
 
.scrollArea {
width: 500px; 
height: 250px;
padding-left: 5px;
padding-right: 5px; 
border-color: #6699CC;
border-width: 1px; 
border-style: solid;
float: left; 
overflow: auto;
}


<% end %>

<%= image_tag "http://api.twitter.com/1/users/profile_image/michaelmagz?size=bigger", :align => "right"%>
<div class="title" align="center"><h1>Welcome to Magz's Portfolio Portal</h1></div>
<table class="main_table" >
  <tr>
    <td>placeholder</div></td>
    <td>Table Cell</td>
    <td>
      <div id="weather" align: "right">
        <%= image_tag @brooklyn_weather["icon_url"], :align => "right", :float => "top"  %><br>

        Location:   <%= @brooklyn_weather["observation_location"]["city"] %><br>
        Current weather: <%= @brooklyn_weather["icon"] %> <br>
        Temperature <%= @brooklyn_weather["temp_f"] %> <br>



      </div>
    </td>
  </tr>
  <tr>
    <td>Table Cell</td>
    <td>
      <span class="scrollArea">
        Magna ennui portland culpa wolf blog, minim aliqua anim commodo locavore forage sed fap banh mi. Pinterest tofu freegan fugiat, nihil +1 mollit williamsburg truffaut adipisicing vero commodo pariatur irure. Synth raw denim occaecat terry richardson, flexitarian adipisicing eiusmod stumptown assumenda consectetur reprehenderit letterpress. Mlkshk kale chips lomo laborum cupidatat art party. Shoreditch selvage viral banksy, non wayfarers anim jean shorts dreamcatcher sed sartorial. Tattooed banksy ex laboris, reprehenderit typewriter proident laborum. Organic etsy quinoa ut, pariatur seitan consectetur sed.

        Truffaut in twee, odio keytar mumblecore labore bicycle rights ex quis sartorial before they sold out. Consequat officia incididunt laborum, ullamco you probably haven't heard of them jean shorts. Voluptate irure VHS american apparel wolf, minim anim fap bespoke high life officia. Sartorial banh mi eiusmod small batch pariatur brunch, ad labore artisan lo-fi assumenda ullamco viral. Et lomo vero, reprehenderit fanny pack pour-over gastropub raw denim odd future tattooed proident mustache keffiyeh twee pitchfork. Velit keytar odd future you probably haven't heard of them aesthetic ethical. Viral esse readymade bicycle rights wayfarers odd future tumblr, flexitarian organic helvetica incididunt biodiesel cray fugiat.

      </span>
    </td>
    <td>
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '@topps',
        interval: 30000,
        title: '',
        subject: 'What people are saying about Topps',
        width: 250,
        height: 300,
        theme: {
          shell: {
            background: '#8ec1da',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        },
        features: {
          scrollbar: false,
          loop: true,
          live: true,
          behavior: 'default'
        }
      }).render().start();
      </script>
  </td>
  </tr>
  <tr height="350px">
    <td width="500px"><div id="dino_comix"><%= @dino_comix %></div></td>
    <td width="400px" height: "348px"><div id="analytics_graph"><%= image_tag "/analytics_graph", :height => "348", :width => "600"%></div></td>
    <td valign="top">
      <div id="emails">
        <h1> UNREAD EMAILS </h1>
        <% if @emails %>
          <% @emails.each do |e| %>
            From: <%= e[0] %>
            Subject: <%= e[1] %> <br>
          <% end %> 
        <% else %>
          You have no unread emails
        <% end %>
      </div>

    </td>
  </tr>
</table>
<p style="font-family:verdana,arial,sans-serif;font-size:10px;"></p>




<script>
$(document).ready(function(){
  $("#dino_comix").html($("#dino_comix .comic").attr("height", 348).attr("width", 500));
  //so, honestly, it might be better to set these attributes via a css sheet (i.e. set the whole thing to display-none and then set .comic to display)
  //but i wanted to show off a bit of jquerying, so i did that instead
  //in case you're unfamiliar:  what i'm doing here is finding the element(s) with class "comic" within the div with id "dino_comix",
  //modifying it's height and width, and then reassigning the contents of the "dino_comix" div to the result
});









$.periodic.defaults.period = 1000;
$.periodic(function() {
  $.get("main/ajax_get_comments", function(data) {
    $("#comments").html(data["comments_html"]);
});



});



</script>
<!-- border="0" style="background-color:#FFFFFF" width="900px" cellpadding="3" cellspacing="3"
 -->