<% content_for :head do %>

.main_table {
  border: 0px;
  background-color: #FFFFFF;
  width: 900px;
  cell-padding: 3;
  cell-spacing: 3;
}
 
.scrollArea {
width: 500px; 
height: 250px;
padding-left: 5px;
padding-right: 5px; 
border-color: #6699CC;
border-width: 1px; 
border-style: solid;
float: left; 
overflow: auto;
}

textarea {
resize:none;
}



<% end %>
  <% if @twitter_check %>
    <%= image_tag "frown.gif", :size => "50x50", :align => "left" %>
  <% else %>
    <%= image_tag "smiley.jpeg", :size => "50x50", :align => "left" %>
  <% end %>
<div class="title" align="center"><h1>Welcome to Magz's Portfolio Portal</h1></div>
<table class="main_table" >
  <tr>
    <td><div id="comment_form"> <%= render :partial => "comment_form"%></div></td>
    <td></td>
    <td>
      <div id="weather" align: "right">
        <%= image_tag @brooklyn_weather["icon_url"], :align => "right", :float => "top"  %><br>

        Location:   <%= @brooklyn_weather["observation_location"]["city"] %><br>
        Current weather: <%= @brooklyn_weather["icon"].capitalize %> <br>
        Temperature <%= @brooklyn_weather["temp_f"] %> <br>



      </div>
    </td>
  </tr>
  <tr>
    <td><div id="comments"> loading comments....</div></td>
    <td>
      <span class="scrollArea">
        Twee single-origin coffee sunt, +1 cillum nostrud photo booth truffaut irure mixtape VHS id brunch marfa chambray. Veniam ethnic vinyl ex ea farm-to-table. Gluten-free vero occaecat consectetur VHS. Raw denim mustache small batch keffiyeh direct trade, magna mcsweeney's. Et fingerstache seitan, cardigan wolf brooklyn magna DIY pickled synth qui +1. Ethnic put a bird on it keffiyeh mcsweeney's anim, aliquip pork belly cred high life organic food truck. Dolor bushwick est, vice anim keffiyeh artisan wolf gluten-free messenger bag cray Austin.

        Dreamcatcher consequat chillwave high life direct trade, cred enim flexitarian swag four loko gluten-free sartorial deserunt. Et mlkshk kogi jean shorts assumenda, hoodie delectus selvage voluptate 3 wolf moon. Bespoke sed minim, squid beard twee enim godard culpa cardigan letterpress fanny pack carles skateboard flexitarian. Blog cupidatat flexitarian esse. Voluptate fanny pack messenger bag consequat odd future. Velit in kale chips, quinoa cardigan tempor labore thundercats blog pariatur cray vice sunt. Kogi brunch sartorial pitchfork, veniam aliquip direct trade carles proident nisi ut letterpress vice id butcher.

        Enim seitan consectetur, aliqua ennui pinterest hoodie magna est sartorial. Dolore high life terry richardson, put a bird on it placeat hoodie shoreditch stumptown PBR brooklyn delectus american apparel +1 3 wolf moon vice. Irure in placeat, raw denim direct trade +1 velit art party aliquip chillwave viral master cleanse id irony. Proident anim sriracha, keffiyeh cred truffaut PBR vice sed voluptate wolf sustainable. Hella beard do blog keytar, sed mumblecore cray forage fap. Retro gastropub esse selvage minim, sapiente whatever blog irure flexitarian messenger bag. American apparel pickled vegan est cray, sint odd future delectus fugiat ex nihil truffaut.

        Synth esse sunt, irure godard keytar pitchfork seitan et gentrify excepteur. Culpa marfa veniam photo booth vice umami, biodiesel mcsweeney's. 8-bit mixtape ethnic carles DIY fugiat. Deserunt aesthetic trust fund ethical viral, mustache incididunt squid tumblr consequat. Umami in retro gentrify, forage nisi banksy irure mlkshk lo-fi proident. Bushwick delectus voluptate, small batch occupy thundercats pop-up ethical ullamco echo park pinterest adipisicing. Twee you probably haven't heard of them thundercats veniam.


      </span>
    </td>
    <td>
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '@topps',
        interval: 30000,
        title: '',
        subject: 'What people are saying about Topps',
        width: 250,
        height: 300,
        theme: {
          shell: {
            background: '#8ec1da',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        },
        features: {
          scrollbar: false,
          loop: true,
          live: true,
          behavior: 'default'
        }
      }).render().start();
      </script>
  </td>
  </tr>
  <tr height="350px">
    <td width="500px"><div id="dino_comix"><%= @dino_comix %></div></td>
    <td width="400px" height: "348px"><div id="analytics_graph"><%= image_tag "/analytics_graph", :height => "348", :width => "600"%></div></td>
    <td valign="top">
      <div id="emails">
        <h3> UNREAD EMAILS </h3>
        <% if @emails %>
          <% @emails.each do |e| %>
            From: <%= e[0] %><br>
            Subject: <%= e[1] %> <br><br>
            -----------------------------
          <% end %> 
        <% else %>
          You have no unread emails
        <% end %>
      </div>

    </td>
  </tr>
</table>
<p style="font-family:verdana,arial,sans-serif;font-size:10px;"></p>




<script>
$(document).ready(function(){
  $("#dino_comix").html($("#dino_comix .comic").attr("height", 348).attr("width", 500));
  //so, honestly, it might be better to set these attributes via a css sheet (i.e. set the whole thing to display-none and then set .comic to display)
  //but i wanted to show off a bit of jquerying, so i did that instead
  //in case you're unfamiliar:  what i'm doing here is finding the element(s) with class "comic" within the div with id "dino_comix",
  //modifying it's height and width, and then reassigning the contents of the "dino_comix" div to the result
});









$.periodic.defaults.period = 1000;
$.periodic(function() {
  $.get("main/ajax_get_comments", function(data) {
    $("#comments").html(data["comments_html"]);
});



});



</script>
<!-- border="0" style="background-color:#FFFFFF" width="900px" cellpadding="3" cellspacing="3"
 -->