<% content_for :head do %>

.main_table {
  border: 0px;
  background-color: #FFFFFF;
  width: 900px;
  cell-padding: 3;
  cell-spacing: 3;
}
 


#body ul {
    list-style: none;
}
 
#body ul li {
  display: inline-block;
  text-align: left;
  padding: 20px;
  height: 300px;
  width: 300px;
}


<% end %>


<div class="title" align="center"><h1>Welcome to Magz's Portfolio Portal</h1></div>
<table class="main_table" >
  <tr>
    <td>placeholder</div></td>
    <td>Table Cell</td>
    <td>
      <div id="weather" align: "right">
        <%= image_tag @brooklyn_weather["icon_url"], :align => "right", :float => "top"  %><br>

        Location:   <%= @brooklyn_weather["observation_location"]["city"] %><br>
        Current weather: <%= @brooklyn_weather["icon"] %> <br>
        Temperature <%= @brooklyn_weather["temp_f"] %> <br>



      </div>
    </td>
  </tr>
  <tr>
    <td>Table Cell</td>
    <td>
      <div id="hipster_ipsum"><textarea height="250px" width="500px">
Irony polaroid synth nostrud, stumptown incididunt est accusamus velit sed flexitarian assumenda craft beer godard post-ironic. VHS placeat +1, wayfarers raw denim polaroid tempor pork belly pitchfork jean shorts chillwave minim. Shoreditch farm-to-table Austin keffiyeh, reprehenderit aesthetic readymade assumenda tumblr sapiente pitchfork. Messenger bag odio echo park magna. Ennui DIY esse nesciunt elit in. Hoodie direct trade 8-bit, craft beer mollit four loko bushwick ex. Hoodie put a bird on it keytar, sed umami forage terry richardson pop-up readymade ethnic bicycle rights raw denim gluten-free marfa.

Readymade umami high life, squid anim fingerstache sapiente mollit post-ironic single-origin coffee brooklyn. Wayfarers street art occaecat sriracha, pitchfork gastropub quis. Fap eiusmod farm-to-table sunt. Excepteur fugiat laboris occupy pop-up, chambray four loko cardigan vero swag anim. 3 wolf moon mumblecore raw denim dolor. Proident esse american apparel direct trade minim readymade. Vegan gastropub kale chips, sustainable skateboard cosby sweater Austin street art.

Aliquip VHS dreamcatcher locavore. Ethnic pitchfork seitan, post-ironic id non etsy direct trade cillum. Four loko fixie food truck, labore sustainable synth veniam viral placeat. Forage scenester vero nesciunt, quis pitchfork wes anderson fanny pack stumptown whatever keffiyeh swag tattooed 8-bit art party. Shoreditch photo booth irure exercitation, tofu irony sint lo-fi consequat umami authentic. Reprehenderit echo park dolore +1, occaecat pop-up pinterest portland raw denim lo-fi. Elit lomo authentic, master cleanse proident blog thundercats 3 wolf moon wayfarers in cillum iphone photo booth.

Terry richardson PBR ennui lo-fi stumptown, ullamco do whatever truffaut mustache fap enim +1 veniam. Nihil kogi sriracha master cleanse deserunt gluten-free, viral pork belly. Fugiat tattooed anim irure. Mcsweeney's est bespoke laborum flexitarian. Cardigan terry richardson semiotics skateboard, master cleanse kogi tumblr mcsweeney's. Tattooed williamsburg etsy american apparel. Ethnic ad adipisicing gastropub, viral est letterpress esse street art pop-up banh mi leggings locavore cupidatat.
      </textarea></div>
    </td>
    <td>
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '@topps',
        interval: 30000,
        title: '',
        subject: 'What people are saying about Topps',
        width: 250,
        height: 300,
        theme: {
          shell: {
            background: '#8ec1da',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        },
        features: {
          scrollbar: false,
          loop: true,
          live: true,
          behavior: 'default'
        }
      }).render().start();
      </script>
  </td>
  </tr>
  <tr height="350px">
    <td width="500px"><div id="dino_comix"><%= @dino_comix %></div></td>
    <td width="400px" height: "348px"><div id="analytics_graph"><%= image_tag "/analytics_graph", :height => "348", :width => "600"%></div></td>
    <td>
      <h1> UNREAD EMAILS </h1>
      <% @emails.each do |e| %>
        From: <%= e[0] %>
        Subject: <%= e[1] %> <br>
      <% end %> 


    </td>
  </tr>
</table>
<p style="font-family:verdana,arial,sans-serif;font-size:10px;"></p>




<script>
$(document).ready(function(){
  $("#dino_comix").html($("#dino_comix .comic").attr("height", 348).attr("width", 500));
  //so, honestly, it might be better to set these attributes via a css sheet (i.e. set the whole thing to display-none and then set .comic to display)
  //but i wanted to show off a bit of jquerying, so i did that instead
  //in case you're unfamiliar:  what i'm doing here is finding the element(s) with class "comic" within the div with id "dino_comix",
  //modifying it's height and width, and then reassigning the contents of the "dino_comix" div to the result
});









$.periodic.defaults.period = 1000;
$.periodic(function() {
  $.get("main/ajax_get_comments", function(data) {
    $("#comments").html(data["comments_html"]);
});



});



</script>
<!-- border="0" style="background-color:#FFFFFF" width="900px" cellpadding="3" cellspacing="3"
 -->