<% content_for :head do %>

.main_table {
  border: 0px;
  background-color: #FFFFFF;
  width: 900px;
  cell-padding: 3;
  cell-spacing: 3;
}
 
.scrollArea {
width: 500px; 
height: 250px;
padding-left: 5px;
padding-right: 5px; 
border-color: #6699CC;
border-width: 1px; 
border-style: solid;
float: left; 
overflow: auto;
}


<% end %>


<div class="title" align="center"><h1>Welcome to Magz's Portfolio Portal</h1></div>
<table class="main_table" >
  <tr>
    <td>placeholder</div></td>
    <td>Table Cell</td>
    <td>
      <div id="weather" align: "right">
        <%= image_tag @brooklyn_weather["icon_url"], :align => "right", :float => "top"  %><br>

        Location:   <%= @brooklyn_weather["observation_location"]["city"] %><br>
        Current weather: <%= @brooklyn_weather["icon"] %> <br>
        Temperature <%= @brooklyn_weather["temp_f"] %> <br>



      </div>
    </td>
  </tr>
  <tr>
    <td>Table Cell</td>
    <td>
      <span class="scrollArea">
        Magna ennui portland culpa wolf blog, minim aliqua anim commodo locavore forage sed fap banh mi. Pinterest tofu freegan fugiat, nihil +1 mollit williamsburg truffaut adipisicing vero commodo pariatur irure. Synth raw denim occaecat terry richardson, flexitarian adipisicing eiusmod stumptown assumenda consectetur reprehenderit letterpress. Mlkshk kale chips lomo laborum cupidatat art party. Shoreditch selvage viral banksy, non wayfarers anim jean shorts dreamcatcher sed sartorial. Tattooed banksy ex laboris, reprehenderit typewriter proident laborum. Organic etsy quinoa ut, pariatur seitan consectetur sed.

Truffaut in twee, odio keytar mumblecore labore bicycle rights ex quis sartorial before they sold out. Consequat officia incididunt laborum, ullamco you probably haven't heard of them jean shorts. Voluptate irure VHS american apparel wolf, minim anim fap bespoke high life officia. Sartorial banh mi eiusmod small batch pariatur brunch, ad labore artisan lo-fi assumenda ullamco viral. Et lomo vero, reprehenderit fanny pack pour-over gastropub raw denim odd future tattooed proident mustache keffiyeh twee pitchfork. Velit keytar odd future you probably haven't heard of them aesthetic ethical. Viral esse readymade bicycle rights wayfarers odd future tumblr, flexitarian organic helvetica incididunt biodiesel cray fugiat.

Velit gluten-free sustainable nisi ethnic retro. Banh mi 3 wolf moon biodiesel, iphone gluten-free keytar authentic mumblecore hella ullamco jean shorts single-origin coffee wolf. Leggings pop-up tattooed, pariatur ut sustainable aliquip elit. Kogi godard reprehenderit, american apparel pitchfork sriracha bicycle rights 8-bit. Keffiyeh dolore velit, assumenda fixie aliqua yr bespoke swag PBR. Enim kale chips eiusmod chillwave quis, cillum tofu keytar four loko. Reprehenderit vice direct trade nihil, pinterest ex four loko duis nesciunt.

Austin pinterest vinyl narwhal put a bird on it lomo, jean shorts before they sold out etsy. Ullamco stumptown quis truffaut photo booth. Hoodie sint hella tattooed pickled butcher. Assumenda flexitarian delectus butcher mixtape, adipisicing magna tofu et ea freegan high life twee. Single-origin coffee fingerstache +1 tempor, seitan swag in. Mixtape adipisicing williamsburg portland brunch tempor, shoreditch butcher exercitation ea echo park nesciunt craft beer. Sunt gastropub mollit dreamcatcher non.

Mixtape yr iphone fixie butcher, freegan master cleanse accusamus id. Stumptown street art salvia blog, do ullamco freegan chambray farm-to-table dreamcatcher craft beer VHS. Quinoa adipisicing whatever, put a bird on it sunt umami beard deserunt aliquip sustainable cardigan pop-up locavore. Deserunt direct trade pop-up kale chips stumptown, cray 3 wolf moon nesciunt hoodie velit. Chambray pop-up pitchfork freegan twee sapiente. Tofu vice direct trade anim. Accusamus occupy aliqua salvia, messenger bag pour-over fixie enim fanny pack.

Et pork belly nulla elit consectetur, shoreditch organic single-origin coffee yr selvage laborum trust fund. Laborum sunt irure, bicycle rights viral aute ut fugiat sed. Twee ullamco craft beer, assumenda 8-bit stumptown pour-over keytar sapiente sunt jean shorts. Authentic Austin DIY, marfa tempor lomo scenester ullamco banh mi jean shorts officia do photo booth dolore pickled. Selvage reprehenderit eu occaecat, tofu wolf brooklyn letterpress. Craft beer chambray cred, officia ethical eu four loko nesciunt sustainable fingerstache lomo DIY. Blog commodo Austin tattooed, selvage culpa before they sold out DIY et skateboard in iphone.

Vero fugiat stumptown iphone. Accusamus mustache sapiente tofu blog. Brooklyn butcher pariatur exercitation, food truck esse selvage proident lo-fi helvetica kale chips sunt. Freegan whatever magna squid assumenda, mollit eu gentrify ennui. Sustainable synth elit placeat bespoke et aesthetic, 8-bit cred pork belly yr american apparel vice non. Fap next level excepteur flexitarian nisi cillum. Wayfarers sriracha nisi vero kogi, trust fund typewriter raw denim craft beer hoodie proident mollit fugiat deserunt.

Freegan truffaut hella assumenda vinyl nostrud. Chillwave mustache bushwick pour-over. Whatever cupidatat sint seitan, labore reprehenderit exercitation DIY elit semiotics aute nisi sapiente umami truffaut. Deserunt you probably haven't heard of them flexitarian, nisi irure biodiesel esse anim elit magna aliqua. Before they sold out williamsburg wolf readymade sed reprehenderit, post-ironic food truck velit lomo aliqua organic irony you probably haven't heard of them. Flexitarian laboris elit aesthetic, 3 wolf moon +1 williamsburg authentic consequat nihil magna master cleanse. Enim put a bird on it blog, odio before they sold out helvetica organic whatever nostrud quinoa placeat vegan high life freegan.

Skateboard esse do, photo booth dolore DIY small batch quinoa dolor irony. You probably haven't heard of them kogi fap, godard commodo polaroid umami labore esse ea tempor high life artisan. Fixie marfa gastropub, nisi reprehenderit irure do. Artisan synth salvia, quinoa whatever non chillwave est reprehenderit ad trust fund. Stumptown polaroid quis pinterest, terry richardson dreamcatcher godard readymade exercitation. Nihil four loko artisan, readymade master cleanse cliche nostrud shoreditch fugiat you probably haven't heard of them chambray pariatur ad banh mi. Kogi selvage cosby sweater wayfarers cupidatat, biodiesel aute.

Nesciunt stumptown cardigan, ea VHS banksy odio labore chambray et. Ad odio high life, carles officia master cleanse truffaut street art mcsweeney's qui shoreditch. Odio mcsweeney's cliche, post-ironic magna artisan selvage consequat flexitarian umami nulla photo booth bushwick. Helvetica jean shorts small batch sriracha, lomo bespoke aliquip officia 3 wolf moon fixie. Irony odio fap eiusmod, pickled sint synth. PBR leggings minim freegan ennui single-origin coffee bicycle rights yr, aliqua whatever cliche tumblr cosby sweater pork belly id. Hoodie pickled tofu, sartorial sriracha ut cray.


      </span>
    </td>
    <td>
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '@topps',
        interval: 30000,
        title: '',
        subject: 'What people are saying about Topps',
        width: 250,
        height: 300,
        theme: {
          shell: {
            background: '#8ec1da',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        },
        features: {
          scrollbar: false,
          loop: true,
          live: true,
          behavior: 'default'
        }
      }).render().start();
      </script>
  </td>
  </tr>
  <tr height="350px">
    <td width="500px"><div id="dino_comix"><%= @dino_comix %></div></td>
    <td width="400px" height: "348px"><div id="analytics_graph"><%= image_tag "/analytics_graph", :height => "348", :width => "600"%></div></td>
    <td>
      <div id="emails" float="top">
        <h1> UNREAD EMAILS </h1>
        <% if @emails %>
          <% @emails.each do |e| %>
            From: <%= e[0] %>
            Subject: <%= e[1] %> <br>
          <% end %> 
        <% else %>
          You have no unread emails
        <% end %>
      </div>

    </td>
  </tr>
</table>
<p style="font-family:verdana,arial,sans-serif;font-size:10px;"></p>




<script>
$(document).ready(function(){
  $("#dino_comix").html($("#dino_comix .comic").attr("height", 348).attr("width", 500));
  //so, honestly, it might be better to set these attributes via a css sheet (i.e. set the whole thing to display-none and then set .comic to display)
  //but i wanted to show off a bit of jquerying, so i did that instead
  //in case you're unfamiliar:  what i'm doing here is finding the element(s) with class "comic" within the div with id "dino_comix",
  //modifying it's height and width, and then reassigning the contents of the "dino_comix" div to the result
});









$.periodic.defaults.period = 1000;
$.periodic(function() {
  $.get("main/ajax_get_comments", function(data) {
    $("#comments").html(data["comments_html"]);
});



});



</script>
<!-- border="0" style="background-color:#FFFFFF" width="900px" cellpadding="3" cellspacing="3"
 -->